.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "s h h h h h h h h h h h"
    "s m m m m m m m m m m m"
    "s m m m m m m m m m m m";
  text-align: center;
  background-color:  #E8E9EB;

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
